@font-face {
  font-family: 'SF Compact Display Thin';
  font-style: normal;
  font-weight: normal;
  src: local('SF Compact Display Thin'), url('../../fonts/sf-compact-display-thin.woff') format('woff');
}

@font-face {
  font-family: 'SF Compact Display Medium';
  font-style: normal;
  font-weight: normal;
  src: local('SF Compact Display Medium'), url('../../fonts/sf-compact-display-medium.woff') format('woff');
}