.main {
  margin-left: 30px;
  margin-right: 30px;
  overflow: hidden;
  display: grid;
  height: 85vh;
  max-height: 1100px;
  min-height: 500px;
  transition: all 0.2s linear;
  grid-template-rows: 42fr 58fr;
  grid-template-columns: 32% 11% 57%;

  @media (max-height: 1100px) {
    grid-template-columns: 38% 10% 52%;
  }
  @media (max-width: 1000px) {
    height: 70vh;
  }

  &__description {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    padding: 2.3vh 3vw 3vh 0;
    position: relative;
    flex-direction: column;
    transition: all 0.2s linear;
    gap: 32px;
    overflow-y: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0;
    }

    @media (min-height: 1100px) and (min-width: 1600px) {
      padding: 54px 68px 70px 0;
    }

    &-paragraph {
      font-family: 'SF Compact Display';
      font-style: normal;
      font-weight: 100;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.055em;
      color: #000000;
      transition: all 0.2s linear;

      @media (max-width: 1400px) {
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.050em;
      }
      @media (max-width: 1200px) {
        font-size: 21px;
        line-height: 25px;
        letter-spacing: 0.045em;
      }
      @media (max-width: 1000px) {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.038em;
      }
      @media (max-width: 800px) {
        font-size: 17px;
        line-height: 20px;
        letter-spacing: 0.035em;
      }
    }
  }

  &__gallery {
    display: grid;
    grid-template-columns: 16% 84%;
    grid-template-rows: 60% 40%;
    flex-direction: row-reverse;
    grid-row: 1 / 3;
    grid-column: 2 / 4;

    &-container {
      background-image: url('../../images/light_background.jpg');
      background-color: #BDDDDD;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 30% top;
      z-index: 10;
      justify-self: flex-end;
      overflow: hidden;
      width: 100%;
      border-radius: 18px;
      grid-row: 1 / 3;
      grid-column: 2 / 3;
    }

    &-lamp-img {
      display: block;
      position: relative;
      left: 25%;
      max-width: 200px;
      max-height: 310px;
      object-fit: cover;
      user-select: none;

      @media (max-width: 1600px) {
        max-height: calc(8vmin + 12vmax);
      }
      @media (max-width: 1000px) {
        max-height: calc(8vmin + 16vmax);
      }
    }

    &-sidebar {
      align-self: flex-end;
      position: relative;
      margin-bottom: 36px;
      z-index: 3;
      grid-row: 2 / 3;
      grid-column: 1 / 2;

      @media (max-height: 1000px) {
        top: 2.2vh;
      }
      @media (max-width: 1000px) {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        top: 0;
        z-index: 12;
        justify-self: flex-start;
        margin-bottom: 0;
      }

      /// @note имитация тени от галереи
      &::after {
        position: absolute;
        content: "";
        z-index: 5;
        height: 100%;
        width: 10%;
        top: 0;
        right: -10%;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);

        @media (max-width: 1000px) {
          width: 0;
        }
      }

      &-models {
        background-color: #BDDDDD;
        border-top-left-radius: 14px;
        padding: 17px 17px 28px;
        max-height: 478px;
        height: 35.2vh;
        overflow-y: scroll;
        display: grid;
        align-content: start;
        grid-template-columns: 100%;
        gap: 20px;

        scrollbar-width: none;
        &::-webkit-scrollbar {
          width: 0;
        }

        @media (max-width: 1600px) {
          padding: 1vw 1vw 1.2vw;
          gap: 1.2vw;
        }
        @media (max-width: 1000px) {
          border-top-left-radius: 0;
          border-top-right-radius: 14px;
          border-top: 1px solid #C4C4C4;
          border-right: 1px solid #C4C4C4;
          height: 25vh;
        }
      }

      &-model {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        background: transparent;
        height: 7.9vw;
        max-height: 131px;
        max-width: 131px;
        border-radius: 14px;

        @media (max-width: 1600px) {
          border-radius: 1vw;
        }
        @media (max-width: 800px) {
          border-radius: 1.5vw;
        }

        &-img {
          height: 95%;
          user-select: none;
        }

        &:hover {
          cursor: pointer;
          background: rgba(255, 255, 255, 0.25);
        }

        &.selected {
          background: rgba(255, 255, 255, 0.5);
        }
      }

      &-controls {
        display: flex;
        height: 76px;
        justify-content: stretch;

        @media (max-width: 1600px) {
          height: 4.85vw;
        }
        @media (max-width: 1000px) {
          height: 4.85vh;
          max-height: 37px;
        }

        &-dark,
        &-light {
          width: 50%;
          outline: none;
          border: none;
          transition: 0.2s all linear;

          &:hover {
            cursor: pointer;
          }

          &-img {
            user-select: none;
            transition: 0.15s all ease-in;
            &:hover {
              opacity: 0.5;
            }

            @media (max-width: 1600px) {
              width: 45%;
            }
          }

          &:disabled {
            opacity: 0.4;
            &:hover {
              cursor: auto;
            }
            & .main__gallery-sidebar-controls-dark-img:hover {
              opacity: 1;
            }
          }
        }

        &-dark {
          background-color: #94A6A6;
          &-img {
            margin-bottom: 2px;
          }
        }

        &-light {
          background-color: #FFF3DA;
          border-bottom-left-radius: 14px;
          &-img {
            margin-top: 2px;
          }
        }
      }
    }
  }

  &__info {
    position: relative;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    padding-top: 40px;
    width: 100%;

    &::before {
      content: "";
      background: linear-gradient(to top, #DBEEEE, transparent);
      height: 5vh;
      width: 100%;
      position: absolute;
      top: -5vh;
      left: 0;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      background-color: #C4C4C4;
      top: 0;
      left: 0;
      z-index: 2;
    }

    &-lamp-img {
      position: absolute;
      top: 0;
      left: 300px;
      max-height: 500px;
      max-width: 250px;
      user-select: none;

      @media (max-width: 2000px) {
        max-height: 50vh;
      }
      @media (max-width: 1600px) {
        left: 20vw;
        max-width: 220px;
      }
      @media (max-width: 1400px) {
        max-width: 200px;
        max-height: 40vmin;
      }
      @media (max-width: 1200px) {
        left: 18vw;
        max-width: 200px;
        max-height: 35vmin;
      }
      @media (max-width: 1000px) {
        left: inherit;
        right: 20px;
        max-width: 200px;
        max-height: 35vmin;
      }
    }

    &-description {
      &-container {
        align-self: flex-start;
        position: relative;
        margin-top: 25px;
      }

      display: flex;
      flex-direction: column;
      max-width: 400px;
      padding-top: 113px;
      padding-left: 39px;
      gap: 21px;

      @media (max-width: 1400px) {
        max-width: 300px;
        padding-top: 83px;
        padding-left: 32px;
        gap: 19px;
      }
      @media (max-width: 1200px) {
        max-width: 280px;
        padding-left: 24px;
        gap: 17px;
      }
      @media (max-width: 1100px) {
        max-width: 240px;
        padding-top: 100px;
        padding-left: 16px;
        gap: 15px;
      }

      & > span {
        font-family: 'SF Compact Display';
        font-weight: 400;
        font-size: 16px;
        line-height: 133.84%;
        letter-spacing: 0.055em;
        color: #000000;
        text-shadow: 0 0 6px #E4D7B9;

        @media (max-width: 1400px) {
          font-size: 15px;
          letter-spacing: 0.05em;
        }
        @media (max-width: 1200px) {
          font-size: 14px;
          letter-spacing: 0.045em;
        }
        @media (max-width: 1100px) {
          font-size: 13px;
          letter-spacing: 0.04em;
        }

        & > span {
          font-family: 'SF Compact Display';
          font-weight: 100;
        }
      }

      &::before {
        z-index: -1;
        content: "";
        width: 462px;
        height: 450px;
        top: -38px;
        left: -57px;
        position: absolute;
        background: #E4D7B9;
        border-radius: 50%;
        transform: matrix(1, 0, 0, -1, 0, 0);
        transition: 0.2s all linear;

        @media (max-width: 1400px) {
          width: 420px;
          height: calc(420px * 0.974);
          top: -24px;
        }
        @media (max-width: 1200px) {
          width: 380px;
          height: calc(380px * 0.974);
          top: 0px;
        }
        @media (max-width: 1100px) {
          width: 350px;
          height: calc(350px * 0.974);
          top: 12px;
        }
        @media (max-width: 1000px) {
          width: 320px;
          height: calc(320px * 0.974);
          top: 20px;
        }
      }
    }
  }
}
