.menu {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1100px) {
      gap: 35px;
    }
    @media (max-width: 950px) {
      gap: 30px;
    }
    @media (max-width: 850px) {
      gap: 25px;
    }
    @media (max-width: 800px) {
      gap: 22px;
    }
    @media (max-width: 700px) {
      gap: 18px;
    }
    @media (max-width: 600px) {
      gap: 16px;
    }

    &-item {
      &-link {
        display: block;
        padding: 5px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'SF Compact Display';
        font-size: 21px;
        letter-spacing: 0.055em;
        color: #3D9090;
        transition: 0.2s all linear;

        @media (max-width: 1100px) {
          font-size: 18px;
          letter-spacing: 0.050em;
        }
        @media (max-width: 950px) {
          font-size: 17px;
          letter-spacing: 0.045em;
        }
        @media (max-width: 850px) {
          font-size: 16px;
          letter-spacing: 0.040em;
        }
        @media (max-width: 800px) {
          font-size: 15px;
          letter-spacing: 0.035em;
        }
        @media (max-width: 700px) {
          font-size: 14px;
          letter-spacing: 0.030em;
        }
        @media (max-width: 600px) {
          font-size: 13px;
          letter-spacing: 0.028em;
        }

        &:hover,
        &:active {
          opacity: 0.5;
        }
      }
    }
  }
}
